numpy==1.20.1
pandas==1.2.3
slots==0.4.0
matplotlib==3.4.0
seaborn==0.11.1
scipy==1.6.2
joblib==1.0.1
mabwiser==1.11.1
scikit-learn==0.24.1
threadpoolctl==2.1.0
bootstrapped==0.0.2
path==15.1.2
numba==0.53.1
tbb==2021.2.0
